<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/top') %>
        <div id="contener">
            <%- include('../partials/aside') %>
            <main id="main-page">
                <%- include('../partials/nav') %>
                <article>
                    <% if(notes.length> 0) { %>
                    <ul>
                        <% notes.forEach(note=> { %>
                        <li>
                            <img src="/static/resources/new.svg" />
                            <a href="/notes/<%= note.id %>"
                                ><%= note.title %></a
                            >
                        </li>
                        <br />
                        <% }) %>
                    </ul>
                    <% } else { %>
                    <p>Nie ma notatek!</p>
                    <% } %>
                </article>
            </main>
        </div>

        <%- include('../partials/footer') %>
    </body>
</html>
